/* RESULTS PAGE SPECIFIC STYLES */

.result {
    margin: 20px auto;
}

.result a {
    background-color: #007bff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.result table {
    border: 1px solid black;
    margin-bottom: 20px;
}

/* -------------------  MOBILE  --------------------- */


/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}